#van{
    margin-left: 110px;
    width: auto;
    height: auto;
    padding: 0;
}
#im{
    margin-left: 1550px;
   width: 100px;
   height: 100px;
   margin-top: -80px;
}
#caj{
    float: right;

}
#cajita{
    float: right;
}
#but{
    float: right;
}
th{
    font-size: 13px;;
}
td{
    font-size: 12px;
}
h1{
    color: rgb(70, 70, 247);

}
h2{
    color: rgb(70, 70, 247) ;

}
th{
    color:black

}
#im{
    margin-left: 1250px;
   width: 150px;
   height: 150px;
   margin-top: -1px;
}
